.privinces,.citys,.countys {
    position: absolute;
    top: 40px;
    left: 0;
    width: 148px;
    height: 290px;
    overflow: auto;
    background-color: #f8f8f8;
    border: 1px #d9d9d9 solid;
}
.privinces .a,.citys .a,.countys .a {
    font-family: "微软雅黑";
    font-size: 18px;
    color: #333;
    text-decoration: none;
    display: block;
    *display: inline-block;
    _display: inline;
    zoom: 1;
    *float: none;
    padding: 3px 5px;
}
.privinces a:hover,.citys .a:hover,.countys .a:hover {
    background-color: #ff9900;
    color: #fff;
}